body{
  min-height: 100vh;
  position: relative;
  // padding-bottom: 25px;
  box-sizing: border-box;
}

footer {
  width: 100vw;
  height:25px;
  background-color: #39a0c9;
  position: absolute;
  bottom: 0;
}
