<%# CSS・・・assets/stylesheets/shared/header.css %>
  <nav class="navbar sticky-top text-white px-5">
      <a class="navbar-brand h1" href="#">安藤護ポートフォリオ</a>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
      <ul class='lists-right'>
        <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
        <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
      </ul>
  </nav>