.container{
  position: relative;
}

.title {
  background-image: image-url('photo-leaf.jpeg');
  background-position: top center;
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 300px;
  // color: white;
  font-size: 55px;
  // padding: 3vh 15vw;
}

.title-text {
  font-size: 8vh;
  line-height: 30px;
}

.profile {
  text-align: center;
  margin-bottom: 15px;
}


.products-title {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.products {
  margin-bottom: 20px;
}

.product1{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 1px black;
  padding: 15px;
}

.push {
  height: 25px;
}