.top-page{
  background-image: image-url('photo-reaf.jpeg');
  background-position: top center;
  height: 400px;
}

.title{
  color: white;
  justify-content: center;
  font-size: 60px;
  padding: 5vh 15vw;
}

.product1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}